body {
  margin: 0;
  font-family: "Quicksand", system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 1.5;
}

#root {
  min-height: 100vh;
}

code {
  font-family: "GeistMono", "Fira Code", ui-monospace, monospace;
}

*, *::before, *::after {
  box-sizing: border-box;
}

button, select, input {
  font-family: inherit;
  font-size: inherit;
}
